/*================================
=            Includes            =
================================*/
/*================================
=            Reset            =
================================*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*======================================
=            Reusable rules            =
======================================*/
.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

* html .group {
  zoom: 1;
}

/* IE6 */
*:first-child + html .group {
  zoom: 1;
}

/* IE7 */
/*===================================================
=            Core rules for spellbee            =
===================================================*/
body {
  font-family: 'arial';
  background: url(../../images/swirl_pattern.png) 0 0 repeat;
}

/*----------  core rules of spellbee  ----------*/
#motherWrapper {
  width: 800px;
  margin: 30px auto;
}

dl dt, dl dd {
  float: left;
}
dl dt {
  width: 300px;
  height: 300px;
}
dl dt img {
  width: 100%;
}
dl dd #keyedStringDisplay {
  text-transform: uppercase;
}
dl dd ul, dl dd li {
  list-style: none;
  list-style-type: none;
}
dl dd ul {
  margin: 0 10px 0 0;
  padding: 0;
  width: 300px;
  height: 300px;
}
dl dd ul li {
  float: left;
  display: block;
  margin-right: 10px;
  margin-bottom: 10px;
}
dl dd ul li a {
  display: block;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  background-color: #ccc;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}
dl dd ul li a:hover {
  background-color: #eee;
}
dl dd ul li.active a {
  background-color: green;
  color: #fff;
}

/*=====  End of Interviewers kit rules  ======*/
