/*==============================================
=            Interviewers kit rules            =
==============================================*/
body {
  font-family: 'arial';
}

dl dt, dl dd {
  float: left;
}
dl dt {
  width: 300px;
  height: 300px;
}
dl dt img {
  width: 100%;
}
dl dd #keyedStringDisplay {
  text-transform: uppercase;
}
dl dd ul, dl dd li {
  list-style: none;
  list-style-type: none;
}
dl dd ul {
  margin: 0 10px 0 0;
  padding: 0;
  width: 300px;
  height: 300px;
}
dl dd ul li {
  float: left;
  display: block;
  margin-right: 10px;
  margin-bottom: 10px;
}
dl dd ul li a {
  display: block;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  background-color: #ccc;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}
dl dd ul li a:hover {
  background-color: #eee;
}
dl dd ul li.active a {
  background-color: green;
  color: #fff;
}

/*=====  End of Interviewers kit rules  ======*/
